.redes {
    display: block;
    position: fixed;
    bottom: 5vh;
    right: 1.5vw;
    z-index: 10000;
}

.red {
    display: block;
    font-size: 45px;
    margin: 5px auto;
    color: rgb(252, 144, 21)  ;
}

.text-redes {
    display: inline-block;
    position: relative;
    transform: rotate(90deg);
    font: menu;
    margin:10px auto;
    margin-top: 90px;
    text-align: center;
}

@media only screen and (max-width: 600px) {

    .redes {
        top: auto;
        bottom: 5vh;
        right: 10px;
    }
    
    .red {
        font-size: 30px;
    }
    
    .text-redes {
        display: none;
    }
    
}